h1 {color:rgb(238, 112, 177); font-family:'Courier New', Courier, monospace;font-size: xx-large;
  background-color: rgb(250, 235, 248); padding: 35px; 
  border;:5px solid papayawhip}
body {background-color:rgb(246, 182, 221);}
h2 {font-size:xx-large;}
h3 {font-size:x-large;}
h2 {text-align: center;}
h1 {text-align: center;}
